.cover__subtitle {
    margin: 32px 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .cover__subtitle {
      margin-top: 16px;
      max-width: 288px;
      font-size: 14px;
      line-height: 114%;
    }
  }