.cover {
    margin: 92px 48px 0;
    max-width: 1184px;
}

@media screen and (max-width: 1279px) {
    .cover {
      margin: 95px 0 0;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
   .cover {
      margin: 85px 0 0;
      max-width: 100%;
   }
}

@media (max-width: 767px) {
   .cover {
     margin: 66px 0 0;
     max-width: 100%;
   }
}